<div class="tuggler_shell bg_1">
  <h1 class="tuggler_title">Add Task</h1>
  <div class="tuggler_nav_icon_right tuggler_icon_back tuggler_icon" id="tuggler_back_btn"></div>
  <input type="text" placeholder="Title" id="tuggler_input_title">
  <textarea placeholder="Description" id="tuggler_input_description"></textarea>
  <button class="button button_1 bg_2 own_line_button_with_space" id="tuggler_take_screenshot">Screenshot</button><br>
  <button class="button button_1 bg_2 own_line_button_with_space">Assign To</button><br>

  {{#each members}}
    
  {{/each}}

  <button class="button button_1 bg_4 own_line_button_with_space" id="tuggler_submit_new_task">Submit Bug</button>
</div>
