<div class="tuggle_tab tuggler_tab_large tuggler_tab_bug button_1" id="open_bugs">
  <div class="tuggler_nav_icon_in_tab tuggler_icon_bugs tuggler_icon"></div>
  <h2 class="tuggler_in_tab_title">Bug</h2>
</div>
<div class="tuggle_tab tuggler_tab_large tuggler_tab_task button_1" id="open_tasks">
  <div class="tuggler_nav_icon_in_tab tuggler_icon_tasks tuggler_icon"></div>
  <h2 class="tuggler_in_tab_title">Task</h2>
</div>

<div class="tuggle_tab tuggler_tab_medium tuggler_tab_invite">
  <div class="tuggler_nav_icon_in_people tuggler_icon_people tuggler_icon"></div>
</div>

<div class="tuggle_tab tuggler_tab_small tuggler_tab_exit">
  <div class="tuggler_nav_icon_in_exit tuggler_icon_exit tuggler_icon"></div>
</div>