// dark_green: #1b4142

.tuggler_container{
  position: fixed;
  top: 10px;
  right: 0px;
  z-index: 9999999;
}

.tuggle_tab{
  background-color: #1b4142;
  margin: 0 10px 20px 0;
  position: relative;
  float: right;
  clear: both;
}

.tuggler_tab_large{
  width: 150px;
  height: 40px;
}

.tuggler_tab_medium{
  width: 40px;
  height: 40px;
}

.tuggler_tab_small{
  width: 28px;
  height: 28px;
}