<div class="tuggler_container">
  <div class="tuggle_tab tuggler_tab_large tuggler_tab_bug">
    <div class="tuggler_tab_icon"></div>
    <p>Bug</p>
  </div>
  <div class="tuggle_tab tuggler_tab_large tuggler_tab_task">
    <div class="tuggler_tab_icon"></div>
    <p>Task</p>
  </div>

  <div class="tuggle_tab tuggler_tab_medium tuggler_tab_invite">
    <div class="tuggler_tab_icon"></div>
  </div>

  <div class="tuggle_tab tuggler_tab_small tuggler_tab_exit">
    <div class="tuggler_tab_icon"></div>
  </div>
</div>