<!-- Tabs -->
<!-- <div class="tuggler_container">
  <div class="tuggle_tab tuggler_tab_large tuggler_tab_bug">
    <div class="tuggler_nav_icon_in_tab tuggler_icon_bugs tuggler_icon"></div>
    <h2 class="tuggler_in_tab_title">Bug</h2>
  </div>
  <div class="tuggle_tab tuggler_tab_large tuggler_tab_task">
    <div class="tuggler_nav_icon_in_tab tuggler_icon_tasks tuggler_icon"></div>
    <h2 class="tuggler_in_tab_title">Task</h2>
  </div>

  <div class="tuggle_tab tuggler_tab_medium tuggler_tab_invite">
    <div class="tuggler_nav_icon_in_people tuggler_icon_people tuggler_icon"></div>
  </div>

  <div class="tuggle_tab tuggler_tab_small tuggler_tab_exit">
    <div class="tuggler_nav_icon_in_exit tuggler_icon_exit tuggler_icon"></div>
  </div>
</div> -->



<!-- Open Bugs / Tasks -->
<!-- <div class="tuggler_container">
  <div class="tuggler_shell bg_1">
    <h1 class="tuggler_title">Task</h1>
    <div class="tuggler_nav_icon_right tuggler_icon_tabs tuggler_icon"></div>
    <button class="button_full_width bg_4 button tuggler_drop_shadow">Create Task</button>
    <hr class="tuggler_hr">
    <div class="tuggler_full_width_button_cluster_shell tuggler_drop_shadow">
      <div class="tuggler_indi_button_in_full_cluster inner_glow">
        <p class="thing_name_for_button">Move Logo Down</p>
        <p class="thing_owner_for_button">Jordan</p>
      </div>
      <div class="tuggler_indi_button_in_full_cluster inner_glow">
        <p class="thing_name_for_button">Move Logo Down</p>
        <p class="thing_owner_for_button">Jordan</p>
      </div>
    </div>
  </div>
</div> -->

<!-- Report Bug / Task -->
<!-- <div class="tuggler_container">
  <div class="tuggler_shell bg_1">
    <h1 class="tuggler_title">Report Bug</h1>
    <div class="tuggler_nav_icon_right tuggler_icon_tabs tuggler_icon"></div>
    <input type="text" placeholder="Title">
    <textarea placeholder="Description"></textarea>
    <button class="button button_1 bg_2 own_line_button_with_space">Screenshot</button><br>
    <button class="button button_1 bg_2 own_line_button_with_space">Assign To</button><br>
    <button class="button button_1 bg_4 own_line_button_with_space">Submit Bug</button>
  </div>
</div> -->

<!-- View bug / task -->
<div class="tuggler_container">
  <div class="tuggler_shell bg_1">
    <p class="indi_thing_title">Move Logo</p>
    <div class="tuggler_nav_icon_right tuggler_icon_back tuggler_icon"></div>
    <hr class="tuggler_hr">
    <p class="indi_thing_description">This is the description</p>
    <hr class="tuggler_hr">
    <img src="" class="tuggler_sneak_peak_screenshot">
    <hr class="tuggler_hr">
    <p>Assigned to: Jordan<p>
      <hr class="tuggler_hr">
    <div class="tuggler_comments_section">
      <p>Why would you do that to me? <span>-Jordan</span></p>
      <hr>
      <p>Why would you do that to me? <span>-Jordan</span></p>
      <hr>
      <p>Why would you do that to me? <span>-Jordan</span></p>
      <hr>
      <textarea placeholder="Comment"></textarea>
    </div>
    <button class="button button_1 bg_2 own_line_button_with_space">Comment</button><br>
    <button class="button button_1 bg_2 own_line_button_with_space">Status</button><br>
    <button class="button button_1 bg_4 own_line_button_with_space">Save</button>
  </div>
</div>